<p>
    {{mode|json}}
</p>
<p>
    {{generations|json}}
</p>


<app-guesser *ngIf="pokemonsAvailables"
  (guessed)="onGuess($event)"
  [pokemonDispo]="pokemonsAvailables"></app-guesser>

<legend>Pokémon attrapés:</legend>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let pokemon of pokemonsGuessed">
    <span class="badge rounded-pill"><img src="assets/pokeball.png"></span>
    {{pokemon.fr}}
  </li>
</ul>
