<ng-container *ngIf="pokemonId">
  <img class="align-top" [style.visibily]="shouldShowPokemonImage ? 'visible' : 'hidden'"  [src]="getPokemonSrc()" (load)="hideImage()"/>
  <canvas #pokemonShadow height="215" width="215" style="margin-left: -215px;"></canvas>
  <p *ngIf="shouldShowPokemonName">#{{pokemonId}} • {{pokemonName}}</p>
</ng-container>

<br>

<input type="text" list="autocomplete" #search (keyup)="autocomplete(search.value)">
<datalist id="autocomplete">
  <option *ngFor="let nom of pokemonDispo" [value]="nom.fr"></option>
</datalist>

<button class="btn btn-outline-primary" (click)="guess(search.value)">Essayer</button>
<button *ngIf="indiceDisponible > 0" class="btn btn-outline-secondary" (click)="indice()">Indice</button>
<button class="btn btn-outline-danger" (click)="newPokemon()">Random</button>
