.error
  border-color: red
  transition: border-color 1s

#playButton
  &:hover
    transform: scale(1.05)
    transition: transform 1s
  &:not(:hover)
    transform: scale(1)
    transition: transform 1s
