<div class="border p-3 radius d-flex flex-column">
  <!-- BOUTON JOUER -->
  <div class="align-self-center mb-3">
    <button class="btn btn-lg btn-primary" (click)="launch()" id="playButton">JOUER</button>
  </div>
  <!-- MODE DE JEU -->
  <div>
    <legend class="mb-1">Mode de jeu:</legend>
    <div class="d-flex flex-wrap">
      <div class="form-check form-check-inline" *ngFor="let mode of modes; let first = first">
        <input type="radio" class="form-check-input" name="mode" [id]="mode.value" [value]="mode.value" [checked]="first" (change)="selectMode(mode)">
        <label [for]="mode.value" class="form-check-label">{{mode.label}}</label>
      </div>
    </div>
    <button class="btn btn-sm btn-outline-secondary my-2" (click)="toggleRules()">Voir les règles</button>
    <div *ngIf="shouldShowRules">
      <div [innerHTML]="rules"></div>
    </div>
  </div>
 <!-- GENERATIONS -->
  <div>
    <legend class="mb-1">Générations:</legend>
    <div class="d-flex flex-wrap">
      <div *ngFor="let generation of generations; let index = index" class="form-check form-check-inline">
        <input type="checkbox"
               class="form-check-input"
               [checked]="selectedGenerations.indexOf(generation) > -1"
               (change)="updateSelectedGenerations(generation)"
               [name]="'generation'+index"
               [id]="generation.value"
               [value]="generation.value">
        <label [for]="generation.value" class="form-check-label">{{generation.label}}</label>
      </div>
    </div>
  </div>
</div>
